body {
  background-color: #B7410E;
  margin-left: 10px;
  margin-right: 10px;
}

.box {
  min-height: 500px;
  padding: 15px;
  margin: 15px;
}

.border {
  border-left: 10px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  }
